<div class="offset2 span6">
<%= simple_form_for @question, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
   <fieldset>
	   <%= f.input :subject, :placeholder => 'No Commas' %>
	   <%= f.input :title %>
	   <%= f.input :description %>
  </fieldset>
  <div class ="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary pull-right' %>
  </div>
<% end %>
</div>