<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="row">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "question.user.name", "Member" %></th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @questions.each do |question| %>
	     <tr>
	       <td><%= question.title %></td>
	       <td><%= question.created_at %></td>
	       <td><%= question.user.name %></td>

		   <td><%= link_to 'Show', question, :class => 'btn btn-mini'%></td>
		   <% if can? :update, @course %>
	   	   <td><%= link_to 'Edit', edit_question_path(question), :class => 'btn btn-mini' %></td>
		       <td><%= link_to 'Destroy', question, 
		                    confirm: 'Are you sure?', 
		                    method: :delete, 
		                    :class => 'btn btn-mini' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-right"><%= will_paginate @questions %></div>	
</div>