<div class="row span8 mleft-20 well">
	<div class="mleft-10 span8">
		<h2 class="bold"><%= image_tag 'glyphs/circle_question_mark.png', :class => 'glyph-h2' %> Have a question, get a <span class="italics">fast</span> answer</h2>
		<h3 class="bold pleft20">Start with a simple search on the subject you want to know about</h3>
	</div>
	<div class="row span8">
		<%= form_tag questions_path, :method => 'get', :class => "mtop10" do %>
		<%= text_field_tag :search, params[:search], :class => 'input-xxlarge mleft20', :placeholder => 'Start simple by entering a single subject, like "Sports" or "Baseball"' %>
		<%= submit_tag "Search", :title => nil, :class => 'btn btn-primary btn-large mtop-15' %>
		<% end %>
	</div>
	<div class="row span8">
		<p class="pleft40 bold">Let's see if someone has created a similar question...</p>
	</div>
</div>
<div class="community-index">
	<div class="span3">
		<h3>Recent</h3>
    	<%= render 'questions/recent' %>
	</div>
	<div class="mleft20 span3">
    	<h3>Popular</h3>
    	<%= render 'questions/popular' %>
	</div>
</div>