<div class="breadcrumbs span12 row">
	<p>
		<%= link_to "community", topics_path %>
		> <%= link_to "questions", questions_path %> > <%= @question.title.downcase %>
	</p>
</div>
<div class="row span12 mtop20">
	<div class="span2">
		<div class="well mtop20">
			<h3 class="center">Popularity</h3>
				<h2 class="center"><%= vote_total @question.user_votes %></h2>
		     <%= form_for @question, :url => vote_question_path(@question) do |f| %>
			     <%= hidden_field_tag :redirect, :show %>
				 <h3 class="center mtop10"><%= submit_tag "^", :name => :up, :class => 'btn btn-large up-show' %></h3>
				 <h2 class="center"><%= submit_tag "v", :name => :down, :class => 'btn btn-large down-show' %></h2>
			 <% end %>
		</div>
		<% if @question.image %>
			<%= image_tag @question.image.source(:show) %>
		<% else %>
			<%= image_tag 'missing_show.png' %>
		<% end %>
		<% if can? :update, @question %>
		    <% if @question.image %>
				<%= link_to 'Replace photo?', edit_question_path(@question), 
							:class => 'btn btn-mini btn-success mleft40 mtop10' %>	
			<% else %>
	    		<%= link_to 'Add a photo', edit_question_path(@question), 
							:class => 'btn btn-mini btn-success mleft50 mtop10' %>
			<% end %>
		<% end %>
	</div>
		<div class="span6 mleft40">
			    <h1 class="title"><%= @question.title %></h1>
				<p><%= @question.description.html_safe %></p>
			
			    <% if can? :update, @question %>
			        <%= link_to 'Delete Question', @question, 
					                    confirm: 'Are you sure?', 
					                    method: :delete, 
					                    :class => 'btn btn-mini btn-danger pull-right mleft10 mtop30' %>
				    <%= link_to 'Edit Question', edit_question_path(@question), 
								:class => 'btn btn-mini pull-right mtop30' %>
				<% end %>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
	     </div>
	
	  	<div class="row span3 mleft40">		   
			<div class="well center">
				<p class="bold">Author: <%= image_tag @question.user.image.source(:header) %>
				<%= link_to @question.user.name, @question.user %></p><br/>
				<p class="mtop-20">Posted <%= time_ago_in_words(@question.created_at) %> ago</p>
				<h3 class="center">More like this</h3>
				<% for tag in @question.tags %>
					<p><%= button_to tag.name, tag, :method => 'get', :class => 'btn btn-mini' %></p>
				<% end %>
		    </div>
				<%= link_to 'New Question', new_question_path, 
							:class => 'btn btn-mini btn-primary' %>
			    <%= link_to 'Back to Questions', questions_path, 
							:class => 'btn btn-mini' %>
		</div>
	  <div class="row span6">
	    <%= render "comments/comment" %>
	    <%= render "comments/form" %>
	  </div>
</div>