<div class="offset3 span6 well">
	<%= simple_form_for @idea, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
	   <fieldset>
		   <% if current_user.has_role? :admin %>
		       <%= f.input :subject, :placeholder => 'no commas' %>
		   <% end %>
		   <%= f.input :title, :label => 'Question' %>
		   <%= f.input :description %>
	  </fieldset>
	  <div class="well">
			<h3>Subject Tags:</h3>
				<%= f.association :tags, 
							:as => :check_boxes, 
							:collection => @tags, 
							:label => 'Pick one or more subjects' %>
		</div>
	   <div class ="form-actions">
	        <%= f.submit nil, :class => 'btn btn-primary btn-large pull-right' %>
	   </div>
	<% end %>
</div>