<div class="offset3 span6 well">
	<%= simple_form_for @idea, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
	   <fieldset>
		   <%= f.input :title, :label => 'Question' %>
		   <%= f.input :description %>
	  </fieldset>
	<fieldset class="well">
	    <%= f.simple_fields_for :image do |img_field| %>
				<h3>
					Upload Photo: <%= img_field.file_field :source, :class => 'mleft10' %>
				</h3>
	    <% end %>
	</fieldset>
	  <div class="well">
			<h3>Subject Tags:</h3>
				<%= f.association :tags, 
							:as => :check_boxes, 
							:collection => @tags, 
							:label => 'Pick one or more subjects' %>
		</div>
	   <div class ="form-actions">
	        <%= f.submit nil, :class => 'btn btn-primary btn-large pull-right' %>
	   </div>
	<% end %>
</div>