<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="row">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
			<th></th>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "idea.user", "Member" %></th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @ideas.each do |idea| %>
	     <tr>
		    <td>
				 <%= form_for idea, :url => vote_idea_path(idea) do |f| %>
					  <%= hidden_field_tag :redirect, :index %>
					 <p class="center"><%= submit_tag "^", :name => :up, :class => 'btn btn-mini up-index' %></p>
					 <p class="center"><%= submit_tag "v", :name => :down, :class => 'btn btn-mini down-index' %></p>
			</td>
			<td>
					<h1 class="count-index"><%= vote_total idea.user_votes %></h1>
				 <% end %>
		   </td>
	       <td><h3 class="mtop15"><%= link_to idea.title, idea %></h3></td>
	       <td><p class="mtop15"><%= time_ago_in_words(idea.created_at) %> ago</p></td>
		   <td><p class="mtop15"><%= link_to idea.user.name, idea.user %></p></td>
		   <% if can? :update, @course %>
	   	   <td><%= link_to 'Edit', edit_idea_path(idea), :class => 'btn btn-mini btn-success mtop15' %></td>
		       <td><%= link_to 'Destroy', idea, 
		                    confirm: 'Are you sure?', 
		                    method: :delete, 
		                    :class => 'btn btn-mini btn-danger mtop15' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-right"><%= will_paginate @ideas %></div>	
</div>