<%= simple_form_for [@commentable, Comment.new], :html => 
					{ :class => 'form-horizontal', :multipart => true } do |f| %>
	<div class="well mtop40">
		  <h3>Leave a comment:</h3><br/>
			<fieldset class="mleft-140 comment">
		   <%= f.input :text, :label => false %>
		    </fieldset>
		   	<fieldset class="well">
			    <%= f.simple_fields_for :image do |img_field| %>
						<h3>
							Upload Photo: <%= img_field.file_field :source, :class => 'mleft10' %>
						</h3>
			    <% end %>
			</fieldset>
		  <div class="form-actions">
		    <%= f.submit nil, :class => 'btn btn-primary btn-large pull-right' %>
		  </div>
	</div>
<% end %>
