<div class="community-form span8  pleft40 mtop20">
	<div class="tabbable tabs">

		<ul class="nav nav-tabs bold">
			<li class="active"><a href="#request" data-toggle="tab">Request a course</a></li>
			<li><a href="#question" data-toggle="tab">Ask a question</a></li> 
			<li><a href="#idea" data-toggle="tab">Share an idea</a></li>
			<li><a href="#compliment" data-toggle="tab">Give praise</a></li>
			<li><a href="#problem" data-toggle="tab">Report a problem</a></li>
			<li><a href="#contact" data-toggle="tab">Contact Lumeo</a></li>
		</ul>
		
		<div class="tab-content">
	    	<div class="tab-pane active" id="request"><p class="center"><%= render 'requests/search_form' %></p></div>
			<div class="tab-pane" id="question"><p class="center"><%= render 'questions/search_form' %></p></div>
			<div class="tab-pane" id="idea"><p class="center"><%= render 'ideas/search_form' %></p></div>
			<div class="tab-pane" id="compliment"><p class="center"><%= render 'compliments/search_form' %></p></div>
			<div class="tab-pane" id="problem"><p class="center"><%= render 'problems/search_form' %></p></div>
			<div class="tab-pane" id="contact"><p class="center"><%= render 'contacts/form' %></p></div>
		</div>
		
    </div>
</div>
