<div class="breadcrumbs span12 row">
	<p>
		> community
	</p>
</div>
<div class="row span12">
	<div class="span11">
		<h1 class="title">Lumeo Community</h1>
	</div>
	<div class="span2 row">
		<span>Search Function</span>
	</div>
</div>

<div class="row">
	<div class="span2 well mtop20">
		<div class="pad10">
			<h3>Browse by Topic:</h3>
		</div>
		<div class="pleft20">
			<ul class="unstyled">
				<li><%= link_to "Course Requests", requests_path %></li>
				<li><%= link_to "Questions", questions_path %></li>
				<li><%= link_to "Ideas", ideas_path %></li>
				<li><%= link_to "Praise", compliments_path %></li>
				<li><%= link_to "Problems", problems_path %></li>
			</ul>
		</div>
	</div>
	
	<div>
	       <%= render 'topics' %>
	</div>
</div>

