<div class="offset3 span6 mtop20 edit">
<%= simple_form_for @problem, :html => { :multipart => true } do |f| %>
   <fieldset class="well">
	   <%= f.input :title %>
	   <%= f.input :description %>
  </fieldset>
	<fieldset class="well">
	    <%= f.simple_fields_for :image do |img_field| %>
				<h3>
					Upload Photo: <%= img_field.file_field :source, :class => 'mleft10' %>
				</h3>
	    <% end %>
	</fieldset>
  <fieldset class="well">
		<h3>Subject Tags:</h3>
			<%= f.association :tags, 
						:as => :check_boxes, 
						:collection => @tags, 
						:label => 'Pick one or more subjects' %>
	</fieldset>
  <div class ="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-large pull-right' %>
  </div>
<% end %>
</div>