<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="row">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
			<th>Score</th>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "problem.user", "Ticket Created By" %></th>
			<th>Actions</th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @problems.each do |problem| %>
	     <tr>
		    <td>
				 <%= form_for problem, :url => vote_problem_path(problem) do |f| %>
					 <p class="center"><%= submit_tag "Up Vote", :name => :up %></p>
					 <h1 class="center"><%= vote_total problem.user_votes %></h1>
					 <p class="center"><%= submit_tag "Down Vote", :name => :down %></p>
				 <% end %>
		   </td>
	       <td><%= problem.title %></td>
	       <td><%= problem.created_at %></td>
		   <td><%= problem.user.name %></td>
		   <td><%= link_to 'Show', problem, :class => 'btn btn-mini'%></td>
		   <% if can? :update, @course %>
	   	   <td><%= link_to 'Edit', edit_problem_path(problem), :class => 'btn btn-mini' %></td>
		       <td><%= link_to 'Destroy', problem, 
		                    confirm: 'Are you sure?', 
		                    method: :delete, 
		                    :class => 'btn btn-mini' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-right"><%= will_paginate @problems %></div>	
</div>