<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="row">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
			<th> </th>
			<th>Vote</th>
			<th> </th>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "problem.user", "Ticket Created By" %></th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @problems.each do |problem| %>
	     <tr>
		    <td>
				 <%= form_for problem, :url => vote_problem_path(problem) do |f| %>
				     <%= hidden_field_tag :redirect, :index %>
					 <p class="center"><%= submit_tag "^", :name => :up, :class => 'btn btn-mini up-index' %></p>
					 <p class="center"><%= submit_tag "v", :name => :down, :class => 'btn btn-mini down-index' %></p>
			</td>
			<td>
					<h2 class="count-index"><%= vote_total problem.user_votes %></h1>
				 <% end %>
		   </td>
			<td><div class="mtop10">
				<% if problem.image %>
					<%= image_tag problem.image.source(:feed) %>
				<% else %>
					<%= image_tag 'missing_feed.png' %>
				<% end %>
			</div></td>
	       <td><h3 class="mtop15"><%= link_to problem.title, problem %></h3></td>
	       <td><p class="mtop15"><%= time_ago_in_words(problem.created_at) %> ago</p></td>
		   <td><p class="mtop15"><%= link_to problem.user.name, problem.user %></p></td>
		   <% if can? :update, @course %>
	   	       <td><%= link_to 'Edit', edit_problem_path(problem), :class => 'btn btn-mini btn-success mtop15' %></td>
		       <td><%= link_to 'Destroy', problem, 
		                    confirm: 'Are you sure?', 
		                    method: :delete, 
		                    :class => 'btn btn-mini btn-danger mtop15' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-right"><%= will_paginate @problems %></div>	
</div>