<div class="breadcrumbs span12 row">
	<p>
		<%= link_to "community", topics_path %>
		> <%= link_to "support", problems_path %> > <%= @problem.title.downcase %>
	</p>
</div>
<div class="row span12 mtop20">
	<div class="span2 mbottom-50">
		<div class="well mtop20">
			<h3 class="center">Popularity</h3>
				<h2 class="center"><%= vote_total @problem.user_votes %></h2>
		     <%= form_for @problem, :url => vote_problem_path(@problem) do |f| %>
			     <%= hidden_field_tag :redirect, :show %>
				 <h3 class="center mtop10"><%= submit_tag "^", :name => :up, :class => 'btn btn-large up-show' %></h3>
				 <h2 class="center"><%= submit_tag "v", :name => :down, :class => 'btn btn-large down-show' %></h2>
			 <% end %>
		</div>
		<% if @problem.image %>
			<%= image_tag @problem.image.source(:show) %>
		<% else %>
			<%= image_tag 'missing_show.png' %>
		<% end %>
		<% if can? :update, @problem %>
		    <% if @problem.image %>
				<%= link_to 'Replace photo?', edit_problem_path(@problem), 
							:class => 'btn btn-mini btn-success mleft40 mtop10' %>	
			<% else %>
	    		<%= link_to 'Add a photo', edit_problem_path(@problem), 
							:class => 'btn btn-mini btn-success mleft50 mtop10' %>
			<% end %>
		<% end %>
	</div>
		<div class="span6">
			    <h1 class="title"><%= @problem.title %></h1>
				<%= @problem.description %>
			    <% if can? :update, @problem %>
			        <%= link_to 'Delete Ticket', @problem, 
					                    confirm: 'Are you sure?', 
					                    method: :delete, 
					                    :class => 'btn btn-mini pull-right mleft10 mtop30' %>
				    <%= link_to 'Edit Ticket', edit_problem_path(@problem), 
								:class => 'btn btn-mini pull-right mtop30' %>
				<% end %>
	     </div>
	
	  	<div class="row span3 mleft40">		   
			<div class="well center">
				<p class="bold">Author: <%= image_tag @problem.user.image.source(:header) %>
				<%= link_to @problem.user.name, @problem.user %></p><br/>
				<p class="mtop-20">Posted <%= time_ago_in_words(@problem.created_at) %> ago</p>
				<h3 class="center">More like this</h3>
				<% for tag in @problem.tags %>
					<p><%= button_to tag.name, tag, :method => 'get', :class => 'btn btn-mini' %></p>
				<% end %>
		    </div>
				<%= link_to 'New Support Ticket', new_problem_path, 
							:class => 'btn btn-mini btn-primary' %>
			    <%= link_to 'Back to Problems', problems_path, 
							:class => 'btn btn-mini' %>
		</div>
	  <div class="row span6">
	    <%= render "comments/comment" %>
	    <%= render "comments/form" %>
	  </div>
</div>