<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span2 offset1">
	 
	</div>
		<div class="span5">
			    <h1><%= @problem.title %></h1>
			    <p><%= @problem.description %></p>
				<p><%= @problem.status %></p>


			    <% if can? :update, @problem %>
				    <%= link_to 'Edit Request', edit_problem_path(@problem), :class => 'btn btn-mini' %>
					<%= link_to 'Delete Request', @problem, 
					                    confirm: 'Are you sure?', 
					                    method: :delete, 
					                    :class => 'btn btn-mini' %>
	                 <%= link_to 'New Request', new_problem_path, :class => 'btn btn-mini' %>
				<% end %>
	     </div>

</div>
<div class="row offset2">
    <%= link_to 'Back to Requests', problems_path, :class => 'btn btn-mini' %>
</div>