<section>
	<h3 class="center user_name"><%= @user.name %></h3>	
		<% if @user.image %>
		 <%= image_tag @user.image.source(:show) %>
		<% end %>
</section>
	<span>
		<%= @user.name %>'s activity:<br /> 
		<%= pluralize(@user.microposts.count, "luminations") %><br/>
		<%= @user.request_votes.count %> votes
	</span>
<section>
	<%= render 'shared/stats' %>
</section>