<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
    <li><a href="#friends" data-toggle="tab">Invite Friends</a></li>
    <li><a href="#roadmap" data-toggle="tab">Roadmap</a></li>
    <li><a href="#courses" data-toggle="tab">Courses</a></li>
    <li><a href="#profolio" data-toggle="tab">Profolio</a></li>
    <li class="active"><a href="#reflections" data-toggle="tab">Reflections</a></li>
    <li><a href="#feed" data-toggle="tab">Feed</a></li>
    <li><a href="#community" data-toggle="tab">Community</a></li>
    <li><a href="#edit" data-toggle="tab">Edit Membership</a></li>
    <li><a href="#help" data-toggle="tab">Help</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="friends">

    </div>
    <div class="tab-pane" id="roadmap">

    </div>
    <div class="tab-pane" id="courses">

    </div>
    <div class="tab-pane" id="profolio">

    </div>
    <div class="tab-pane" id="reflections">
     	<%= render 'reflections' %>
    </div>
    <div class="tab-pane" id="feed">

	  <div class="row">
	    <aside class="span4">
	      <section>
	        <%= render 'shared/user_info' %>
	      </section>
	      <section>
	        <%= render 'shared/stats' %>
	      </section>
	      <section>
	        <%= render 'shared/micropost_form' %>
	      </section>
	    </aside>
	    <div class="span8">
	      <h3><i class="icon-fire"></i> Feed</h3>
	      <%= render 'shared/feed' %>
	    </div>
	  </div>

    </div>
    <div class="tab-pane" id="community">

    </div>
    <div class="tab-pane" id="edit">

    </div>
    <div class="tab-pane" id="help">

    </div>
  </div>
</div>