<%= simple_form_for([@course, @course.videos.build]) do |f| %>
   <fieldset>
	<%= f.input :photo %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :html_embed_for_video %>
    <%= f.input :running_time %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
  </fieldset>
<% end %>
