<div class="row">
	<div class="offset1 span3">
        <% if @course.videos.image %>
		 <%= image_tag @video.image.source %>
		<% end %>
  </div>

  <div class="span5">
		<h1 class="title"><%= @video.title %></h1>
		<p class="description center">
		  <%= @video.description %>
		</p>
	</div>
	<div class="offset1 span2 course_well">
			 <ul class="nav well course_nav">	
				<% if can? :update, @video %>
		     	     <li><%= link_to "Edit Video", edit_course_path(@video), :class => 'btn' %></li>
			    <% end %>
			 </ul>
	</div>
</div>

<div class="form-actions">
     <%= render 'shared/form_actions' %>
</div>