<%= link_to current_user do %>
  <h1><%= current_user.name %></h1>
	<% if current_user.image %>
		<%= image_tag @user.image.source(:show) %>
	<% end %>
<% end %>

<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "reflections") %>
</span>
