<div class="offset3 span6">
	<h1 class="title center">Create a Course Request</h1>
	<% @request.tags.build %>
<%= simple_form_for @request, :html => { :class => 'form-horizontal pull-left mtop20', :multipart => true } do |post_form| %>
   <fieldset>
	   <%= post_form.input :title %>
	   <%= post_form.input :who, :label => 'Taught by' %>
	   <%= post_form.input :description %>
  </fieldset>

  <%= render :partial => 'tags/form',
             :locals => {:form => post_form} %>

  <div class ="form-actions">
    <%= post_form.submit nil, :class => 'btn btn-primary pull-right' %>
  </div>
<% end %>
</div>