<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="row mleft30">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
			<th></th>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "who", "Requested Pro" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "request.user", "Requested by" %></th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @requests.each do |req| %>
		 <tr>
		 	<td>
				 <%= form_for req, :url => vote_request_path(req) do |f| %>
					 <p class="center"><%= submit_tag "up", :name => :up %></p>
					 <h1 class="center  mtop-20"><%= vote_total req.user_votes %></h1>
					 <p class="center"><%= submit_tag "down", :name => :down %></p>
				 <% end %>
		   </td>
	       <td><h3><%= req.title %></h3></td>
	       <td><%= req.who %></td>
	       <td><%= time_ago_in_words(req.created_at) %> ago</td>
		   <td><%= req.user.name %></td>
		   <td><%= link_to 'Show', req, :class => 'btn btn-mini'%></td>
		   <% if can? :update, @course %>
	   	   <td><%= link_to 'Edit', edit_request_path(request), :class => 'btn btn-mini' %></td>
		       <td><%= link_to 'Destroy', req, 
		                    confirm: 'Are you sure?', 
		                    method: :delete, 
		                    :class => 'btn btn-mini' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-left"><%= will_paginate @requests %></div>	
</div>