<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="row mleft30">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
			<th>Vote</th>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "who", "Requested Pro" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "request.user", "Requested by" %></th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @requests.each do |req| %>
		 <tr>
		 	<td>
				 <%= form_for req, :url => vote_request_path(req) do |f| %>
				     <%= hidden_field_tag :redirect, :index %>
					 <p class="center"><%= submit_tag "up", :name => :up, :class => 'btn btn-mini' %></p>
					 <h4 class="center mtop-7"><%= vote_total req.user_votes %></h4>
					 <p class="center"><%= submit_tag "down", :name => :down, :class => 'btn btn-mini' %></p>
				 <% end %>
		   </td>
	       <td><h3><%= link_to req.title, req %></h3></td>
	       <td><%= req.who %></td>
	       <td><%= time_ago_in_words(req.created_at) %> ago</td>
		   <td><%= req.user.name %></td>
		   <% if can? :update, @course %>
	   	       <td><%= link_to 'Edit', edit_request_path(req), :class => 'btn btn-mini' %></td>
		       <td><%= link_to 'Delete', req,
		                    method: :delete, 
		                    :class => 'btn btn-mini' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-left"><%= will_paginate @requests %></div>	
</div>