<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="row">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "who", "Requested Pro" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "request.user", "Requested by" %></th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @requests.each do |request| %>
	     <tr>
	       <td><%= request.title %></td>
	       <td><%= request.who %></td>
	       <td><%= request.created_at %></td>
		   <td><%= request.user.name %></td>
		   <td><%= link_to 'Show', request, :class => 'btn btn-mini'%></td>
		   <% if can? :update, @course %>
	   	   <td><%= link_to 'Edit', edit_request_path(request), :class => 'btn btn-mini' %></td>
		       <td><%= link_to 'Destroy', request, 
		                    confirm: 'Are you sure?', 
		                    method: :delete, 
		                    :class => 'btn btn-mini' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-right"><%= will_paginate @requests %></div>	
</div>
