<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="row mleft30">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
			<th>Vote</th>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "who", "Requested Pro" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "request.user", "Requested by" %></th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @requests.each do |req| %>
		 <tr>
		 	<td>
				 <%= form_for req, :url => vote_request_path(req) do |f| %>
				     <%= hidden_field_tag :redirect, :index %>
					 <p class="center"><%= submit_tag "^", :name => :up, :class => 'btn btn-mini up-index' %></p>
					 <p class="center"><%= submit_tag "v", :name => :down, :class => 'btn btn-mini down-index' %></p>
			</td>
			<td>
					 <h2 class="count-index"><%= vote_total req.user_votes %></h2>
				 <% end %>
		   </td>
	       <td><h3 class="mtop15"><%= link_to req.title, req %></h3></td>
	       <td><p class="mtop15"><%= req.who %></p></td>
	       <td><p class="mtop15"><%= time_ago_in_words(req.created_at) %> ago</p></td>
		   <td><p class="mtop15"><%= link_to req.user.name, req.user %></p></td>
		   <% if can? :update, @course %>
	   	       <td><%= link_to 'Edit', edit_request_path(req), :class => 'btn btn-mini btn-success mtop15' %></td>
		       <td><%= link_to 'Delete', req,
		                    method: :delete, 
		                    :class => 'btn btn-mini btn-danger mtop15' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-left"><%= will_paginate @requests %></div>	
</div>