<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


<div class="row mleft30">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "who", "Requested Pro" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "request.user", "Requested by" %></th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @requests.each do |request| %>
			<%= form_for @request, :url => vote_request_path do |f| %>
			 <%= submit_tag "Up Vote", :name => :up %>
			 <%= submit_tag "Down Vote", :name => :down %>
			<% end %>
	     <tr>
	       <td><%= request.title %></td>
	       <td><%= request.who %></td>
	       <td><%= time_ago_in_words(request.created_at) %> ago</td>
		   <td><%= request.user.name %></td>
		   <td><%= link_to 'Show', request, :class => 'btn btn-mini'%></td>
		   <% if can? :update, @course %>
	   	   <td><%= link_to 'Edit', edit_request_path(request), :class => 'btn btn-mini' %></td>
		       <td><%= link_to 'Destroy', request, 
		                    confirm: 'Are you sure?', 
		                    method: :delete, 
		                    :class => 'btn btn-mini' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-left"><%= will_paginate @requests %></div>	
</div>