<div class="breadcrumbs span12 row">
	<p>
		<%= link_to "community", topics_path %>
		> <%= link_to "requests", requests_path %> > <%= @request.title.downcase %>
	</p>
</div>
<div class="row span12 mtop20">
	<div class="span2">
		<div class="well mtop20">
			<h3 class="center">Popularity</h3>
				<h2 class="center"><%= vote_total @request.user_votes %></h2>
		     <%= form_for @request, :url => vote_request_path(@request) do |f| %>
			     <%= hidden_field_tag :redirect, :show %>
				 <h3 class="center mtop10"><%= submit_tag "^", :name => :up, :class => 'btn btn-large up-show' %></h3>
				 <h2 class="center"><%= submit_tag "v", :name => :down, :class => 'btn btn-large down-show' %></h2>
			 <% end %>
		</div>
		<% if @request.image %>
			<%= image_tag @request.image.source(:show) %>
		<% else %>
			<%= image_tag 'missing_show.png' %>
		<% end %>
		<% if can? :update, @request %>
				<% if @request.image %>
					<%= link_to 'Replace photo?', edit_request_path(@request), 
								:class => 'btn btn-mini btn-success mleft40 mtop10' %>	
				<% else %>
		    		<%= link_to 'Add a photo', edit_request_path(@request), 
								:class => 'btn btn-mini btn-success mleft50 mtop10' %>
				<% end %>
		<% end %>
	</div>
		<div class="span6 mleft40">
			    <h1 class="title"><%= @request.title %></h1>
			    <p><%= @request.who %></p>
			    <p><%= @request.description %></p>
			
			    <% if can? :update, @request %>
			        <%= link_to 'Delete Request', @request, 
					                    confirm: 'Are you sure?', 
					                    method: :delete, 
					                    :class => 'btn btn-mini pull-right mleft10 mtop30' %>
				    <%= link_to 'Edit Request', edit_request_path(@request), 
								:class => 'btn btn-mini pull-right mtop30' %>
				<% end %>
	     </div>
	
	  	<div class="row span3 mleft40">		   
			<div class="well center">
				<p class="bold">Author: <%= image_tag @request.user.image.source(:header) %>
				<%= link_to @request.user.name, @request.user %></p><br/>
				<p class="mtop-20">Posted <%= time_ago_in_words(@request.created_at) %> ago</p>
				<h3 class="center">More like this</h3>
				<% for tag in @request.tags %>
					<p><%= button_to tag.name, tag, :method => 'get', :class => 'btn btn-mini' %></p>
				<% end %>
				
		    </div>
				<%= link_to 'New Request', new_request_path, 
							:class => 'btn btn-mini btn-primary' %>
			    <%= link_to 'Back to Requests', requests_path, 
							:class => 'btn btn-mini' %>
		</div>
	  <div class="row span6">
	    <%= render "comments/comment" %>
	    <%= render "comments/form" %>
	  </div>
</div>

