<% provide(:title, 'About Lumeo') %>
<div class="about_content">

	<%= render 'layouts/about_headline' %>

	<%= render 'layouts/about_text' %>

	<%= render 'layouts/about_video' %>

	<%= render 'layouts/about_features' %>

	<%= render 'layouts/about_as_seen' %>

</div>