<div class="row">
	<% @tag.questions.each do |question| %>
		<div class="span2">
			<% if question.image %>
				<%= image_tag question.image.source(:show) %>
			<% else %>
				<%= image_tag 'missing_show.png' %>
			<% end %>
		</div>
		<div class="span5">
	   		<h1><%= link_to question.title, question %></h1>
			<p class="bold">Posted by: <%= link_to question.user.name, @user %></p>
	   		<p class="show-text"><%= question.description %></p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
	<% end %>
</div>

	