<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<div class="row">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
			<th>Score</th>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "compliment.user.name", "Compliment by" %></th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @compliments.each do |compliment| %>
	     <tr>
		    <td>
				 <%= form_for compliment, :url => vote_compliment_path(compliment) do |f| %>
					 <p class="center"><%= submit_tag "Up Vote", :name => :up %></p>
					 <h1 class="center"><%= vote_total compliment.user_votes %></h1>
					 <p class="center"><%= submit_tag "Down Vote", :name => :down %></p>
				 <% end %>
		   </td>
	       <td><%= compliment.title %></td>
	       <td><%= compliment.created_at %></td>
		   <td><%= compliment.user.name %></td>
		   <td><%= link_to 'Show', compliment, :class => 'btn btn-mini'%></td>
		   <% if can? :update, @course %>
	   	   <td><%= link_to 'Edit', edit_compliment_path(compliment), :class => 'btn btn-mini' %></td>
		       <td><%= link_to 'Destroy', compliment, 
		                    confirm: 'Are you sure?', 
		                    method: :delete, 
		                    :class => 'btn btn-mini' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-right"><%= will_paginate @compliments %></div>	
</div>