<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<% if compliment.present? %>
<div class="row">
	<table class="table table-striped pretty">
	   <thead>
		  <tr>
		    <th><%= sortable "title" %></th>
			<th><%= sortable "who", "Requested Pro" %></th>
			<th><%= sortable "created_at", "When" %></th>
			<th><%= sortable "compliment.user", "Requested by" %></th>
		  </tr>
	   </thead>
	   <tbody>
	   <% @compliments.each do |compliment| %>
	     <tr>
	       <td><%= compliment.title %></td>
	       <td><%= compliment.who %></td>
	       <td><%= compliment.created_at %></td>
		   <td><%= compliment.user.name %></td>
		   <td><%= link_to 'Show', compliment, :class => 'btn btn-mini'%></td>
		   <% if can? :update, @course %>
	   	   <td><%= link_to 'Edit', edit_compliment_path(compliment), :class => 'btn btn-mini' %></td>
		       <td><%= link_to 'Destroy', compliment, 
		                    confirm: 'Are you sure?', 
		                    method: :delete, 
		                    :class => 'btn btn-mini' %></td>
	       <% end %>
	     </tr>
	  <% end %>
	  </tbody>
	</table>
	<div class="pull-right"><%= will_paginate @compliments %></div>	
</div>
<% else %>
  <p>Your search returned no Course Requests. Step 2: Click on the blue button to submit your Course Request</p>
<% end %>
<%= button_to 'New Request', new_compliment_path, :method => 'get', :class => 'btn btn-large btn-primary mleft20 mtop20' %>