<div class="row span7 offset2 edit">
   <%= simple_form_for @compliment do |f| %>
	<fieldset class="well pleft80">
		<div class="mtop10">
		  <%= f.input :title %>
		  <p>Description</p>
		  <%= f.input_field :description, :id => 'edit_topic' %>
		</div>
	</fieldset>
	<fieldset class="well pleft80">
	    <%= f.simple_fields_for :image do |img_field| %>
				<h3>
					Upload Photo: <%= img_field.file_field :source, :class => 'mleft10' %>
				</h3>
	    <% end %>
	</fieldset>
      <div class ="form-actions">
         <%= f.submit 'Send Praise', :class => 'btn btn-primary btn-large pull-right' %>
      </div>
   <% end %>
</div>
<script type="text/javascript">
	$('#edit_topic').wysihtml5();
</script>