<div class="span7 offset2 edit">
	<%= simple_form_for @course, :html => { :multipart => true } do |f| %>
	  <fieldset class="well pleft80">
	    <%= f.input :title %>
	    <%= f.input :description %>
	    <%= f.input :price %>
	 </fieldset>
	 <fieldset class="well pleft80">
	    <%= f.fields_for :image do |img_field| %>
				<h3>
					Upload Photo: <%= img_field.file_field :source %>
				</h3>
	    <% end %>
	</fieldset>
	 <div class="form-actions">
	    <%= link_to 'Cancel', courses_path, :class => 'btn pull-right btn-large m5' %>
		<%= f.submit nil, :class => 'btn btn-primary pull-right btn-large m5' %>
	  </div>
	<% end %>
</div>

