<div class="span7 offset2 edit">
	<%= simple_form_for @course, :html => { :multipart => true } do |f| %>
	  <fieldset class="well pleft80">
		<h2 class="title mleft-45">Produced by <%= current_user.name %></h2>
		<div class="w250">
			Instructed by:
			<%= f.select :pro_id, pro_select, :input_html => { :class => 'dropdown' } %>
		</div>
	    <%= f.input :title %>
	    <%= f.input :subtitle %>
		<%= f.input :available %>
		<%= f.input :price %>
		<%= f.input :credits %>
	    <%= f.input :description %>
	 </fieldset>
	 <fieldset class="well pleft80">
		<%= f.input :teaser %>
	 </fieldset>
	 <fieldset class="well pleft80">
	    <%= f.fields_for :image do |img_field| %>
				<h3>
					Upload Photo: <%= img_field.file_field :source %>
				</h3>
	    <% end %>
	</fieldset>
	 <div class="form-actions">
	    <%= link_to 'Cancel', courses_path, :class => 'btn pull-right btn-large m5' %>
		<%= f.submit nil, :class => 'btn btn-primary pull-right btn-large m5' %>
	  </div>
	<% end %>
</div>

