<div class="breadcrumbs span12 row">
	<p>
		<%= link_to "content", contents_path %>
		> courses
	</p>
</div>
<div class="span12 title">
	<h1 class="center">Lumeo Courses</h1>
	<% if can? :update, @course %>
	  <%= button_to 'New Course', new_course_path, :method => 'get', 
								:class => 'btn btn-primary btn-large pull-right' %>
	<% end %>
</div>
<div class="row span12">
    <% @courses.each do |course| %>
        <div class="span2">
			<% if course.image %>
			 <%= link_to image_tag(course.image.source(:feature)), course %>
			<% end %>
			<p class="center bold"><%= link_to course.title, course %></p>
			<p class="center mtop-10"><%= course.subtitle %></p>  
	          <% if can? :update, @course %>
	            <%= link_to 'Edit', edit_course_path(course), :class => 'btn btn-mini mleft40' %>
	            <%= link_to 'Delete', course, 
	              confirm: 'Are you sure?', 
	              method: :delete, 
	              :class => 'btn btn-mini' %>
	          <% end %>
        </div>
    <% end %>
</div>
