<%= simple_form_for @post, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
   <fieldset>
	 <legend><%= controller.action_name.capitalize %> Post</legend>
	   <%= f.input :title %>
	   <%= f.input :index_text %>
	   <%= f.input :show_text %>
	   Upload Photo <%= f.file_field :photo %>
  </fieldset>
<%= f.fields_for :categorizations, @post.initialized_categorizations do |builder| %>
    <% category = builder.object.category %>
    <%= builder.hidden_field :category_id %>

    <div class="field">
      <%= builder.label :enable, category.name %>
      <%= builder.check_box :enable %>
    </div>
  <% end %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
