<div class="span12 mtop20 row">
	<div class="span2 mtop10 pull-right">
		<ul class="well span2">
			<h4>Browse by Category</h4>
			<% @categories.each do |category| %>
	  			<p><%= button_to category.name, category, :method => 'get', :class => 'btn btn-mini mbottom-10' %></p>
	  		<% end %>
		</ul>
		<% if can? :update, @post %>
	  	    <%= button_to 'New Post', new_post_path, :method => 'get', :class => 'btn btn-primary mtop10 mleft40' %>
      <% end %>
	</div>
  <% @posts.each do |post| %>  
 	<div class="span9 mtop20 mleft70">
		<div class="span2">
			<% if post.image %>
				<%= image_tag post.image.source(:show) %>
			<% else %>
				<%= image_tag 'missing_show.png' %>
			<% end %>
			<% if can? :update, @post %>
				<% if post.image %>
					<%= link_to 'Replace photo?', edit_post_path(post), 
						:class => 'btn btn-mini btn-success mleft50 mtop10' %>	
				<% else %>
						<%= link_to 'Add a photo', edit_post_path(post), 
						:class => 'btn btn-mini btn-success mleft50 mtop10' %>
				<% end %>
			<% end %>
		</div>
		<div class="span6">
			<h1><%= link_to post.title, post %></h1>
			<p><%= post.index_text.html_safe %></p>
			<% if can? :update, @post %>
				 <span>
					<%= button_to 'Destroy', post,
					    		   method: :delete,
					    		   :class => 'btn btn-mini btn-danger pull-right mleft10' %>
					<%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-mini pull-right' %>
 
				</span>
			<% end %>
		</div>
		</div>
  <% end %>
	


</div>

