<div class="row span12 mtop20">
	 <div class="span2">
	   <% if @post.image %>
	     <%= image_tag @post.image.source(:show) %>
	   <% end %>
	 </div>
	 <div class="span6 mleft40">
		<h1 class="title"><%= @post.title %></h1>
	    <p><%= @post.index_text.html_safe %></p>
	    <p><%= @post.show_text.html_safe %></p>

	    <% if can? :update, @post %>
			<%= button_to 'Delete Post', @post,
	        method: :delete,
	        :class => 'btn btn-mini btn-danger pull-right mleft10 mtop9' %>
			<%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-mini pull-right mleft10' %>
			<%= button_to 'New Post', new_post_path, :method => 'get', :class => 'btn btn-mini pull-right' %>
	    <% end %>
	 </div>

	<div class="row mleft40 span3">		   
		<div class="well center">
			<p class="bold">Author: <%= image_tag @post.user.image.source(:header) %>
			<%= @post.user.name %></p><br/>
			<p class="mtop-20">Posted <%= time_ago_in_words(@post.created_at) %> ago</p>
			<h3 class="center">More like this</h3>
			<% for category in @post.categories %>
				<p><%= button_to category.name, category, :method => 'get', :class => 'btn btn-mini' %></p>
			<% end %>
		</div>
	  <%= link_to 'Back to Posts', posts_path, :class => 'btn btn-mini pull-right' %>
	</div>

  <div class="row offset2 span6">
    <%= render "comments/comment" %>
    <%= render "comments/form" %>
  </div>
</div>



