<div class="row">
  <div class="span2">
    <% if @post.image %>
      <%= image_tag @post.image.source(:show) %>
    <% end %>
  </div>

  <div class="span7">
    <h1><%= @post.title %></h1>
	<% category.each do |category| %>
		<%= link_to category.name, category %>
	<% end %>
	<p><%= @category.name %>
    <p><%= @post.index_text.html_safe %></p>
    <p><%= @post.show_text.html_safe %></p>

    <% if can? :update, @course %>
      <%= link_to 'Edit Post', edit_post_path(@post), :class => 'btn btn-mini pull-right mleft10' %>
      <%= link_to 'Delete Post', @post,
        method: :delete,
        :class => 'btn btn-mini pull-right mleft10' %>
      <%= link_to 'New Post', new_post_path, :class => 'btn btn-mini pull-right' %>
    <% end %>

    <%= render "comments/comment" %>
    <%= render "comments/form" %>
  </div>

  <div class="span2">
	<ul class="well">

	</ul>
  </div>
</div>

<div class="row offset2 span7">
  <%= link_to 'Back to Posts', posts_path, :class => 'btn btn-mini pull-right' %>
</div>
