<div class="row">
  <div class="span2">
    <% if @post.image %>
      <%= image_tag @post.image.source(:medium) %>
    <% end %>
  </div>

  <div class="span7">
    <h1><%= @post.title %></h1>
    <p><%= @post.index_text.html_safe %></p>
    <p><%= @post.show_text.html_safe %></p>

    <%= render "comments/comment" %>
    <%= render "comments/form" %>

    <% if can? :update, @course %>
      <%= link_to 'Edit Post', edit_post_path(@post), :class => 'btn btn-mini' %>
      <%= link_to 'Delete Post', @post,
        method: :delete,
        :class => 'btn btn-mini' %>
      <%= link_to 'New Post', new_post_path, :class => 'btn btn-mini' %>
    <% end %>
  </div>

  <div class="span2">
    <ul class="well">
      <li>Category 1</li>
      <li>Category 2</li>
    </ul>
  </div>
</div>

<div class="row offset2">
  <%= link_to 'Back to Posts', posts_path, :class => 'btn btn-mini' %>
</div>
