<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	<%= link_to logo, root_path %>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
		<div class="nav-collapse">
			<nav>
			  <ul class="nav pull-right top4">
					<% if user_signed_in? %>
		                  <li class="gravatar_header">
			                  	<% if current_user.image %>
									<%= image_tag current_user.image.source(:header) %>
								<% else %>
									<%= image_tag 'missing_header.png' %>
								<% end %>
						  </li>
						  <li> &nbsp; &nbsp;</li>
						  <li><%= link_to current_user.name, current_user %></li>
				          <li><%= link_to "Content", courses_path %></li>
				          <li><%= link_to "Contests", courses_path %></li>
					      <li><%= link_to "Community", topics_path %></li>
					      <li class="footer_link"><%= link_to "Blog",  posts_path  %></li>
			              <% if current_user.has_role? :admin %>
					           <li><%= link_to "Manage Members", users_path %></li>
				          <% end %>
				          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>	
				</ul>
			              <% else %>
							<div class="mtop5 mbottom-10">
					             <%= simple_form_for resource, :as => resource_name, 
															   :url => session_path(resource_name),
															 	:html => { :class => 'form-inline' } do |f| %>
										<%= f.input_field :email, :label => false, :placeholder => 'email',  
															:class => 'input-medium inline w50' %>
										<%= f.input_field :password,  :label => false, :placeholder => 'password',
										 						:class => 'input-medium inline w50' %>
										<% if devise_mapping.rememberable? -%>
											  <%= f.check_box :remember_me %> remember?
										<% end -%>
									  <%= f.submit "Sign in", :class => 'btn btn-success btn-small inline' %>
								 <% end %>
							</div>
			          <% end %>
		   </nav>
		  </div>
    </div>
  </div>
</div>


